<main>
    <mat-card class="home mat-elevation-z2">
        <mat-card-content class="content">
            <div class="logo">
                <img src="https://i.ibb.co/W5KPJpY/pets-header.png" alt="pets" />
            </div>
            
            <section class="info">
                <h1>PETLAND</h1>
                <p class="contentProject">O Paraíso Perfeito para o seu PET! 
                </p>
                <div class="infoBtn">
                    <button mat-button > <a href="#features">saiba mais</a> </button>
                    <button mat-button (click)="Cadastrar()"> cadastre-se </button>
                </div>
            </section>
        </mat-card-content>
    </mat-card>
    
    <section id="about">
        <mat-tab-group animationDuration="0ms" id="features" mat-align-tabs="center">
            <mat-tab label="Sobre">
                <p>O presente projeto dos discentes Camila Silva, Gracielle José e Luiz Gabriel, supervisionado pelo docente Bruno Cartaxo. Tem como intuito construir uma aplicação web responsiva. Com intuito de ajudar donos de pets com organização e implementar reconhecimento de imagens e localização em tempo real.</p>
                <img src="https://i.ibb.co/71drGzT/cachorro-e-gato.png" alt=""> 
            </mat-tab>
            <mat-tab label="Nossos serviços">
                <p>Sabemos o quão difícil é ser pai ou mãe de pets, e como pode ser estressante. Por este motivo oferecemos diversos serviços. Como, agenda, poderá fazer anotações dos seus pets e criar lembretes. Seja atualizado de notícias e eventos relacionados a bichinhos de estimações. E tenha a segurança com o nosso sistema de localização em tempo real. Experimente nosso sistema de reconhecimento de raças, que com uma foto do seu bichinho reconhece a sua raça e lhe mostrará cuidados e curiosidades sobre ela.</p>
                <img src="https://i.ibb.co/71drGzT/cachorro-e-gato.png" alt="">
            </mat-tab>
          </mat-tab-group>
    </section>
</main>