<main>
    <mat-card class="home mat-elevation-z2">
        <mat-card-content class="content">
            <div class="logo">
                <img src="https://i.ibb.co/W5KPJpY/pets-header.png" alt="pets" />
            </div>
            
            <section class="info">
                <h1>PETLAND</h1>
                <p class="contentProject">O Paraíso Perfeito para o seu PET! 
                </p>
                <div class="infoBtn">
                    <button mat-button > <a href="#features">saiba mais</a> </button>
                    <button mat-button (click)="Cadastrar()"> cadastre-se </button>
                </div>
            </section>
        </mat-card-content>
    </mat-card>
    
    <section id="about">
        <mat-tab-group animationDuration="0ms" id="features" mat-align-tabs="center">
            <mat-tab label="Sobre">
                <p class="infoNos">O presente projeto dos discentes Camila Silva, Gracielle José e Luiz Gabriel, supervisionado pelo docente Bruno Cartaxo. Tem como intuito construir uma aplicação web responsiva, de fomra que possa ajudar guardiões de pets com organização de informações relevantes para seus pets e implementar reconhecimento de imagens, afim de ajudar na construção das dicas e cuidados. Além disso, trazer notícias de eventos próximos com base na localização.</p>
                <img src="https://i.ibb.co/71drGzT/cachorro-e-gato.png" alt=""> 
            </mat-tab>
            <mat-tab label="Nossos serviços">
                <p class="infoNos">Sabemos o quão difícil é ser pai ou mãe de pets, e como pode ser estressante não saber informações importante para a criação do seu bichinho. Por este motivo criamos uma aplicação em que você obtem uma agenda personalizada de acordo com seu pet, podendo fazer anotações e criar lembretes. Além disso, seja atualizado de notícias e eventos relacionados a bichinhos de estimações através da localização. Experimente nosso sistema de reconhecimento de raças, que com uma foto do seu bichinho reconhece a sua raça e lhe mostrará cuidados e curiosidades sobre ela.</p>
                <img src="https://i.ibb.co/71drGzT/cachorro-e-gato.png" alt="">
            </mat-tab>
          </mat-tab-group>
    </section>
</main>