*{
    box-sizing: border-box;
}

/* -----------------BANNER----------------- */
.home .title{
    font: 3rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

main{
    background-color: #F1FAEE;
}

.home{
    border-radius: 0%;
    padding: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
}

.info, .infoBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

button{
    color: white;
    background-color: #69C5EE;
    width: 10rem;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
    background-color: #ebebeb;
}

.contentProject{
    padding: 0 2rem;
    margin: 0;
}

h1{
    margin: 0;
}

.logo > img{
    width: 50vw;   
}

a{
    text-decoration: none;
    color: white;
}

/* -----------------SOBRE / FEATURES-----------------  */

#about{
    display: flex;
    justify-content: space-between;
}

#about > nav{
    color: #258BB7;
    background-color: #69c6ee0a;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    width: 100%;
    background-color: #69c6ee59;
    text-align: center;
}

h2:hover{
    transition: .5;
    background-color: #3896becb;
    color: white;
}

#infoProject{
    text-align: center;
}

#features{
    display: flex;
}

.cardTitle{
    font-size: 1rem;
}

.imgCard{
    height: 25vh;
    transition:  .3s;
}

.imgCard:hover{
    transition: transform .3s ease;
    transform: scale(1.1);
}

.card{
    text-align: center;
    border-radius: 0%;
    margin: 1rem;
    width: 20vw;
}

/* -----------------RESPONSIVE----------------- */
@media only screen and (max-width: 600px) {
    body{
        max-width: 600px;
    }
    .home {
      display: grid;
      grid-template-areas: "title subtitle" "content";
    }
    .logo{
        display: none;
    }
    .content{
        position: relative;
        z-index: 1;
    }
    #features{
        display: block;
    }
}