<article>
    <h1>
        Agendas PET
        <mat-icon>pets</mat-icon>
    </h1>
    <section class="agendas">
        <div *ngFor="let pet of pets.pets" (click)="agendaPet(pet)" class="pets">
            <div *ngIf="pets && pets.pets && pets.pets.length > 0">
                <img src="{{ pet.imagem }}" alt="">
                <h3>{{ pet.nome }}</h3>
            </div>
        </div>
        <div (click)="adicionarPet()">
            <div class="mais"></div>
            <h3> Adicionar PET</h3>
        </div>
    </section>
</article>