<form class="faleConosco-container">
  <h1 mat-dialog-title> Fale Conosco </h1>
  <div mat-dialog-content id="help-container">
    <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Qual o seu Problema?</mat-label>
      <mat-select matNativeControl required id="opçoes"> 
        <mat-option value="duvidas">Dúvidas</mat-option> 
        <mat-option value="esqueciSenha">Esqueci Minha Senha</mat-option>
        <mat-option value="reportErro">Reportar Erro</mat-option>  
        <mat-option value="outros">Outro</mat-option>  
      </mat-select>
    </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descreva aqui o seu Problema!</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  </div>

  <div id="buttons">
    <button mat-button id="cancel" mat-dialog-close> Cancelar </button>
    <button mat-button id="next" routerLink="/home"> Enviar </button>
  </div>
</form>