h1{
    text-align: center;
}

.campos{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: space-between;
    color: white;
}

#cancel{
    background-color: brown;
}

#next{
    background-color: #71C8EF;
}

:host /deep/ .mat-form-field-underline {
    display: none;
    width: 0;
}
:host /deep/ .mat-form-field-flex {
    border: 2px solid #71c8ef;
    border-radius: 0px !important;
    background: white;
}
