.expanded-toolbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.btns{
    display: flex;
    gap: 1rem;
}

#logo{
    height: 3rem;
}

button{
    color: black;
}

button:hover{
    color: #69C5EE;
}

