header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #70B5EA;
}

#buttons{
    display: flex;
    gap: 1rem;
}

button{
    outline: none;
    border: none;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid #46769b;
    border-radius: 10px 10px 0% 0%;
}

img{
    height: 3rem;
}