<header>
    <div id="logo">
        <img src="../../../assets/images/pet-house.png" alt="pet house" routerLink="/">
        <div class="funcionalidades" *ngIf="logado">
            <h4 mat-button> 
                <a routerLink="/home">
                    <i class="material-icons"> home</i> 
                    Home
                </a>
            </h4>
            <h4 mat-button> 
                <a routerLink="/agendas">
                    <i class="material-icons"> library_books </i> 
                    Agendas
                </a> 
            </h4>
            <h4 mat-button> 
                <a routerLink="/urgencia">
                    <i class="material-icons"> local_hospital </i> 
                    Urgência
                </a> 
            </h4>
            <h4 mat-button> 
                <a routerLink="/lugares">
                    <i class="material-icons"> place </i> 
                    Locais
                </a>
            </h4>
        </div>
    </div>
    <div id="buttons" *ngIf="!logado">
        <button mat-button (click)="Entrar()">Entrar</button>
        <button mat-button (click)="Cadastrar()">Cadastrar</button>
        <button mat-button (click)="FaleConosco()" >Fale Conosco</button>
    </div>
    <div *ngIf="logado" class="headerLogado">
        <div class="funcionalidades">
            <h4 class="user"> 
                Olá, {{ olaLogin }}!
                <i class="material-icons"> insert_emoticon </i>
            </h4>
            <button mat-button class="sair" (click)="Sair()"> 
                Sair 
                <i class="material-icons"> logout </i>
            </button>
        </div>
    </div>
</header>