<div id="container">
    <h1>create account</h1>

    <form action="">
        
        <mat-form-field class="w-50" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Luiz">
        </mat-form-field>
        <mat-form-field class="w-50" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex. Silva">
        </mat-form-field>

        <div class="row">
            <mat-form-field class="w-24" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email">
            </mat-form-field>
            <mat-form-field class="w-24" appearance="fill">
                <mat-label>Birth date</mat-label>
                <input matInput type="date">
            </mat-form-field>
        </div>
    <div class="row">
            <mat-form-field class="w-24" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <mat-form-field class="w-24" appearance="fill">
                <mat-label>Confirm the password</mat-label>
                <input matInput type="password">
            </mat-form-field>
    </div>
    <div class="row">
            <button mat-button routerLink=" " class="w-24 cancel"> Cancel </button>
            <button mat-button routerLink="/" class="w-24 create"> Create </button>
    </div>
    </form>
</div>