.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

h1{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
    color: white;
}

#cancel{
    background-color: brown;
}

#create{
    background-color: #71C8EF;
}
