<div class="search-box">
  <div class="col-md-3">
    <h1>Urgência</h1>
  </div>
  <div class="barra">
    <input type="text"  placeholder="Pesquisar no site🔎">
  </div> 
<div class="search-list">
<h3>Procuras Mais Frequentes!</h3>
<mat-card>
  <mat-card-title>Engasgos e obstruções em cães e gatos</mat-card-title>
  <mat-card-subtitle>Procurar um Veterinário</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Envenenamento e intoxicações nos peludos</mat-card-title>
  <mat-card-subtitle>Procurar um Veterinário</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Síndrome urológica felina</mat-card-title>
  <mat-card-subtitle>Procurar um Veterinário</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>Torção gástrica em cães</mat-card-title>
  <mat-card-subtitle>Procurar um Veterinário</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>