
html, body {
    margin: 0;
    padding: 0;
}
.content {
    text-align: center;
}
#img {
    max-width: 600px;
    margin: 50px 0;
}
.form input {
    height: 30px;
}
.form button {
    height: 36px;
    padding: 0 10px;
    border: none;
    background: grey;
    color: white;
}