h1{
    text-align: center;
}

#help-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50vw;
}

#buttons{
    color: white;
    display: flex;
    justify-content: space-between !important;
}

#cancel{
    background-color: brown;
}

#next{
    background-color: #70b5ea;;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}