<article>
  <h1>Equipe</h1>
  <div id="cards">
    <mat-card class="card">
      <mat-card-content>
          <mat-card-title class="title">Gracielle José</mat-card-title>
          <mat-card-subtitle class="subtitle">Systems Analysis and Development Student</mat-card-subtitle>
          <p>Eu sou a Gracielle José, natural de Recife, Pernambuco
            Graduanda em análise e desenvolvimento de sistemas pela Instituição Federal de Pernambuco - Campus Paulista.
            Em Busca de uma oportunidade para desenvolver e melhorar meus conhecimentos, e também algo que possa me instruir de forma crescente e contínua, visando sempre o crescimento entre eu e a empresa.
          </p>
        </mat-card-content>
        <img mat-card-lg-image  class="image" src="https://media-exp2.licdn.com/dms/image/C4D03AQGo1ZM5JEs0rg/profile-displayphoto-shrink_800_800/0/1643833722936?e=1659571200&v=beta&t=v-qzEBZTd6zcg9jFVRZeRS4xmfNp-zOD8AcDH7Ppq9g" >
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <mat-card-title>Camila Silva</mat-card-title>
        <mat-card-subtitle>Systems Analysis and Development Student</mat-card-subtitle>
        <p>Eu sou a Camila Silva, natural de Recife, Pernambuco.
          Graduanda em análise e desenvolvimento de sistemas pela Instituição Federal de Pernambuco - Campus Paulista. Tenho como objetivo profissional atuar com desenvolvimento de software e estender cada vez mais meu portfólio.
        </p>
      </mat-card-content>
      <img mat-card-lg-image src="https://media-exp2.licdn.com/dms/image/C4D03AQEkFkz1T4ugyg/profile-displayphoto-shrink_800_800/0/1625620454693?e=1659571200&v=beta&t=5atr7D-9dSoSC8oq9MJXAVy3NhHy_uscVKx_3JiDdW4">
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
          <mat-card-title>Luiz Gabriel</mat-card-title>
          <mat-card-subtitle>Systems Analysis and Development Student</mat-card-subtitle>
          <p>Eu sou o Luiz Gabriel, natural de Recife, Pernambuco.
            Graduando em análise e desenvolvimento de sistemas pela Instituição Federal de Pernambuco - Campus Paulista.
            Colaborar em um ambiente de trabalho onde possa colocar em pratica meus conhecimentos, focando sempre no crescimento da organização e o crescimento profissional.
          </p>
        </mat-card-content>
        <img mat-card-lg-image src="https://avatars.githubusercontent.com/u/72817196?v=4" >
    </mat-card>
  </div>
</article>