h1{
    text-align: center;
    font-size: 30px;
}

#cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card{
    display: flex;
    align-items: center;
    width: 50%;
}

mat-card-subtitle{
    margin-bottom: 0;
}

img, mat-card-lg-image{
    border-radius: 10px;
}

@media only screen and (max-width: 450px) {
    .card{
        display: block;
    }
}