.nav-container{
    background-color: #70B5EA;
}

.sidenav{
    background-color: #70B5EA;
    width: 15%;
    

}

.mat-nav-button{
    margin-bottom: 1rem;
    background-color: #70B5EA;
    border: none;
    border-radius: 4px;
    color: #f2f2f2;
}

.sidenav .mat-list a{
    color: #f2f2f2;
    text-decoration: none;
}

.sidenav .mat-list i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #f2f2f2;
    display: none;
}