<app-nav></app-nav>
<div class="search-box">
  <div class="col-md-3">
    <h1>Urgência</h1>
    <a href="https://4patashospital24horas.com.br/?gclid=Cj0KCQjwz96WBhC8ARIsAATR251h4wfJFr4jzzhsWe4-S-nUD_AxewfZLg2ESTvGkoTioV2pLBp-nuAaAspPEALw_wcB" target="_blank"><h2>Em caso de extrema urgência *CLIQUE AQUI*</h2></a>
  </div>
<div class="search-list">
<h3>Procuras Mais Frequentes!</h3>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Engasgos e obstruções em cães e gatos
    </mat-panel-title>
  </mat-expansion-panel-header>
    <p><b>Remova o objeto</b> <br>
      Inspecione a boca do pet para poder verificar se existe algum corpo estranho preso na garganta. Com outra pessoa segurando o cão, abra a boca do pet e coloque a língua um pouco para o lado a fim de visualizar a garganta. Se for possível observar um objeto preso no local utilize uma pinça ou algo similar para retirar, com cuidado para não empurrar ainda mais para dentro. O cuidado deve ser redobrado para remover ossos ou outros objetos que se lascam facilmente para evitar cortes e perfurações das vias aéreas. <b>Se não for possível ver nenhum objeto, não continue procurando!</b>
      <br>
      <b>Manobra de Heimlich</b> <br>
      Segure o pet com as costas apoiadas em seu peito, abrace o pet com as suas duas mãos abaixo do esterno (o osso no meio do peito) e faça força, pressionando para cima com o objetivo de pressionar o diafragma e expulsar o objeto que está atrapalhando a passagem de ar.
      <br>
      <b>Força da gravidade</b> <br>
      Se o pet for de médio ou pequeno porte, é possível levantar o animal pelas patas traseiras (com muito cuidado) e segura-lo de cabeça para baixo e dar leve sacudida ou tapinhas nas costas para que a gravidade ajude a soltar o objeto. Já nos pets maiores, mantenha as patas dianteiras apoiadas no chão e levante as patas traseiras, inclinando o animal para a frente.</p>
      <mat-card-actions>
        <a href="https://canaldopet.ig.com.br/cuidados/2022-05-15/como-ajudar-cachorro-gato-engasgado.html" target="_blank"><button mat-button>Saiba mais</button></a>
      </mat-card-actions>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Envenenamento e intoxicações nos peludos
    </mat-panel-title>
  </mat-expansion-panel-header>
    <p>Após identificar sintomas de envenenamento, a primeira ação a ser tomada é <b>levar o seu pet imediatamente para os cuidados veterinários</b>. Não busque tratamento online ou por telefone. A presença e avaliação de um profissional é insubstituível em momentos de fragilidade, como o envenenamento em gatos e cachorros. <br>
      
    <br>No entanto, no processo de compreender o envenenamento até a chegada do animal ao hospital veterinário, alguns pontos precisam ser considerados para não piorar a situação, como, por exemplo: <b>não tente oferecer água ou alimento ao pet</b>. Ainda há quem acredite que o leite pode contribuir para atenuar sintomas de envenenamento, porém isso não é verdade. Então, lembre-se: não tente receitas caseiras! Algumas substâncias podem, inclusive, aumentar os efeitos do veneno, em vez de inibí-los. <br>
      
    <br>Enquanto não estiver no hospital ou clínica veterinária, não há muito o que ser feito quando cachorro ou gato ingeriu veneno ou outro tipo de substância tóxica. Por isso, a agilidade no atendimento do peludo fará toda a diferença</p>
    <mat-card-actions>
      <a href="https://canaldopet.ig.com.br/cuidados/2022-05-15/como-ajudar-cachorro-gato-engasgado.html" target="_blank">
      <button mat-button>Saiba mais</button></a>
    </mat-card-actions>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Síndrome urológica felina
    </mat-panel-title>
  </mat-expansion-panel-header>
    <p>O tratamento da SUF – Síndrome Urológica Felina será indicado de acordo com as causas do surgimento da doença e o seu nível de desenvolvimento no animal. Retirar a urina presa na bexiga do gato é a primeira providência para tratar o problema, e isso pode ser feito com o uso de uma sonda uretral – no entanto, casos mais graves podem necessitar de uma cirurgia específica e até mesmo chegar à Penectomia - que é a retirada total do pênis e a exteriorização da uretra.<br>

    <br>Antibióticos e antiinflamatórios são frequentemente receitados para ajudar no tratamento da SUF, entretanto, o uso de medicamentos também irá depender do estado em que se encontra o animal acometido e a causa da alteração. Realizadas as principais providências, uma mudança na dieta do animal se torna fundamental para que o problema não ocorra novamente.
      
    <br>Vale lembrar mais uma vez que somente um médico veterinário é capaz de diagnosticar o felino e indicar o melhor tratamento para a Síndrome Urológica Felina; portanto, ao perceber os sintomas no seu bichano, corra para uma clínica veterinária – já que, quanto antes for iniciado o tratamento do problema, mais fácil e mais rápido ele será.</p>
      <mat-card-actions>
        <a href="https://www.cachorrogato.com.br/gato/suf-sindrome-urologica-felina/" target="_blank"><button mat-button>Saiba mais</button></a>
      </mat-card-actions>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Torção gástrica em cães
    </mat-panel-title>
  </mat-expansion-panel-header>
    <p><br>A melhor maneira de preservar o cão da torção gástrica é agir preventivamente. Algumas ações simples e básicas podem ser tomadas para diminuir o risco do animal ser acometido pela enfermidade, tais como:<br>

      <br>oferecer ao cão rações de boa qualidade;<br>
      evitar situações estressantes para o animal;<br>
      restringir o consumo exagerado de água depois de comer;<br>
      não deixar que o animal faça exercícios após se alimentar;<br>
      fornecer alimentos fracionados de duas a três vezes ao longo do dia, nunca de uma única vez.<br>
      <br>Colocando as ações acima em prática, os tutores serão capazes de prevenir as principais razões que favorecem que o problema fatal, da torção gástrica em cães aconteça.</p>
      <mat-card-actions>
        <a href="https://canaldopet.ig.com.br/cuidados/2022-05-15/como-ajudar-cachorro-gato-engasgado.html" target="_blank"><button mat-button>Saiba mais</button></a>
      </mat-card-actions>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Pulgas
    </mat-panel-title>
  </mat-expansion-panel-header>
    <p><b>1º passo: Consulte um veterinário</b><br>
      A primeira coisa a ser feita é conversar com o médico veterinário do seu pet. Ele poderá avaliar o animal e determinar qual o melhor procedimento para eliminar as pulgas do seu gatinho. <br>
      
      <br>Lembre-se de que você não pode usar qualquer produto no pet, pois corre o risco de intoxicar o bichinho e colocar a vida dele em risco. Além disso, há muitas receitas caseiras que são divulgadas e que, além de não conseguirem matar a pulga, podem piorar a situação. <br>
      
      <br>Afinal, há muitos produtos naturais que são tóxicos para gatos e, quando usados erroneamente nesses pets, podem causar danos à sua saúde. Por isso, sempre leve o bichinho ao médico veterinário para que o profissional prescreva o melhor protocolo a ser adotado. <br>
      
      <br><b>2º passo: Limpeza</b><br>
      Embora não seja possível acabar com a pulga em gato por meio da escovação, ao fazer isso, além de conseguir identificar o parasita, o tutor ajuda o pet a ficar limpinho. Outra alternativa é dar banho para eliminar alguns parasitas.<br>
      
      <br>Para isso, é preciso usar produtos especiais, ou seja, apenas xampu ou sabonetes antipulgas especificamente para gatos. Além disso, só dê banho no gato com o xampu antipulgas caso o bichano esteja acostumado ou se a infestação for muito grande. Nos demais casos, siga o passo 3 (abaixo). <br>
      
      <br><b>3º passo: Remédio para pulga de gato</b><br>
      Há várias alternativas de medicamentos para combater a pulga em gato e a melhor delas deve ser indicada pelo médico veterinário. Dentre as possibilidades estão:<br>
      
      Pour on antipulgas para gatos;<br>
      Comprimidos que conseguem eliminar os parasitas; <br>
      Spray antipulgas gatos;<br>
      Coleira antipulgas gatos, que pode ser usada para prevenir reinfestação.<br>
      
      <br><b>4º passo: Higienizar o ambiente</b><br>
      Além de controlar a pulga em gato, é preciso combatê-la no ambiente. Para isso, é indicado:<br>
      
      Lavar almofadas, caminhas, paninhos e demais acessórios do bichano;<br>
      Passar aspirador em toda a casa para remover o inseto e também seus ovinhos;<br>
      Lavar o quintal com inseticida apropriado, mas garantir que o bichinho não vá lá até que o chão seque por completo;<br>
      Dentro de casa, usar spray inseticida e, da mesma forma, garantir que o felino não esteja no local, para que não se intoxique. <br>

      <br><b>5º passo: Previna o seu gatinho</b><br>
      Por fim, o melhor mesmo é evitar que a pulga em gato se instale. Para isso, é preciso ter os seguintes cuidados:<br>
      
      Procure evitar que o bichano fuja para a rua;<br>
      Escove-o sempre, para que você possa ver o parasita antes mesmo dele causar problemas maiores;<br>
      Use o medicamento pour on – aplicado diretamente no dorso do animal -, indicado pelo médico veterinário para impedir infestação;<br>
      Mantenha limpo o quintal ou o local em que o gatinho sempre fica;<br>
      Realize visitas frequentes ao veterinário.</p>
      <mat-card-actions>
        <a href="https://love.doghero.com.br/gatos/pulga-em-gato/" target="_blank"><button mat-button>Saiba mais</button></a>
      </mat-card-actions>
</mat-expansion-panel>